<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Friends</title>
</head>
<body>
<div class="container">
    <div>
        <p class="username"><%= user.username %></p>
        <a href="/auth/logout">Выйти</a>
        <ul class="friends-list">
            <% friends.forEach((f) => { %>
                <li class="friend">
                    <img src="<%= f.photo_50 %>" alt="<%= f.first_name %>">
                    <p><%= f.first_name %></p>
                </li>
            <% }); %>
        </ul>
    </div>
</div>
</body>
</html>
