* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vk-oauth {
  width: 14em;
  height: 2em;
  font-size: 18px;
  font-family: sans-serif;
  line-height: 2em;
  color: white;
  text-decoration: none;
  text-align: center;
  background: #4a76a8;
  border-radius: 0.5em;
}

.vk-oauth:hover {
  background: #3167aa;
}
